[Unit]
Description=UAV control application and Web UI
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/uav_project
ExecStart=%h/miniconda3/bin/conda run --no-capture-output -n app python -m app.main --send-commands false
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
